
MarketAPI/.idea/*
MarketAPI/.vs/*
MarketAPI/MarketAPI/bin/*
MarketAPI/MarketAPI/obj/*
MarketAPI/PseudoClient/*
MarketAPI/PseudoClient/PseudoClient.csproj
MarketAPI/PseudoClient/Program.cs
MarketAPI/.vs/MarketAPI/xs/UserPrefs.xml
MarketAPI/.vs/MarketAPI/xs/sqlite3/storage.ide
